<section id="aboutus" class="principal-container">
  <div class="landing">
    <div class="container">
      <div class="wrapper">
        <div class="grid-12">
          <div class="grid">
            <div class="grid-12" align="center">
              <div class="spacer-hero"></div>
              <div class="grid-1"></div>
              <h1 class="grid-10 grid-mobile-12"><%= i18("pages.aboutus.title") %> <italic><%= i18("pages.aboutus.span") %></italic></h1>
              <div class="grid-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about-usdata" class="light">
  <div class="border-rlight">
    <div class="container" align="center">
      <div class="grid-2 hide-mobile"></div>
      <div class="grid-8 grid-mobile-12 content-data">
        <h1><%= i18 "pages.aboutus.about-usdata.title" %></h1>

        <h4 class="text-muted"><%= i18 "pages.aboutus.about-usdata.content" %>
          
          <a href="http://twitter.com/fluvipcolombia" class="twitter_link"><i class="fa fa-twitter"></i></a>
        </h4>
      </div>
      <div class="grid-2 hide-mobile"></div>
    </div>
  </div>
</section>
<section id="aboutus-content" class="white">
  <div class="container">

    <div class="grid-12 content-text">
      <h1><%= i18 "pages.aboutus.aboutus-content.title" %></h1>


      <div class="team-members grid">

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar enrrique"></div>
          <p>Enrique Gaona<small>Country Manager Perú</small><small>
            <a href="http://twitter.com/kikegaona" target="_blank"><i class="fa fa-twitter"></i></a> </small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar sebastian"></div>
          <p>Sebastián Jasminoy<small>CEO</small><small>
            <a href="http://twitter.com/SebasJasminoy" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://www.linkedin.com/in/sebastianjasminoy/es" target="_blank"><i class="fa fa-linkedin"></i></a> </small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar juan"></div>
          <p>Juan David Ramírez<small>CRO</small><small>
            <a href="http://twitter.com/judarave" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://co.linkedin.com/pub/juan-david-ram%C3%ADrez-vel%C3%A1squez/1b/509/882" target="_blank"><i class="fa fa-linkedin"></i></a></small></p>
        </div>



        <div class="member grid-3 grid-mobile-12">
          <div class="avatar lorenzo"></div>
          <p>Lorenzo Bettencourt <small>Country Manager USA</small><small><a href="http://twitter.com/lorenzobetten" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
      </div>

      <br/>

      <div class="team-members grid">
        <div class="member grid-3 grid-mobile-12">
          <div class="avatar diana"></div>
          <p>Diana Bello<small>Influencer Advisor Colombia</small><small><a href="http://twitter.com/Bellita05" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
        
        <div class="member grid-3 grid-mobile-12">
          <div class="avatar vanessa"></div>
          <p>Vanessa Barbery<small>Country manager Ecuador</small><small><a href="http://twitter.com/vbarbery" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12 peru">
          <div class="avatar milagros"></div>
          <p>Milagros García<small>Influencer Advisor Perú</small><small><a href="http://twitter.com/Myla_GR" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>


        <div class="member grid-3 grid-mobile-12">
          <div class="avatar sebas"></div>
          <p>Sebastián Posada<small>Influencer Advisor Colombia</small><small><a href="http://twitter.com/posada888" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

      </div>

      <br>
      <div class="team-members grid">

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar julian"></div>
          <p>Julián Vargas<small>CTO</small><small><a href="http://twitter.com/app_config" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar vladimir"></div>
          <p>Vladimir Guzmán<small>Director de Tecnologia</small><small><a href="http://twitter.com/vlaguzman" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar angel"></div>
          <p>Angel Botto <small>Fullstack Developer</small><small><a href="http://twitter.com/bottico" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar juanviz"></div>
          <p>Juan Vizcaino<small>Arquitecto de Software</small><small><a href="http://twitter.com/elvizcacho" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>


        <div class="member grid-3 grid-mobile-12">
          <div class="avatar nicolas"></div>
          <p>Nicolás Rojas<small>Director Administrativo</small><small><a href="http://twitter.com/nicolasrc1" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar lina"></div>
          <p>Lina Pizarro<small>Relaciones Públicas</small><small><a href="http://twitter.com/linapihu" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar catalina"></div>
          <p>Catalina Lozano<small>Influencer Advisor Colombia</small><small><a href="http://twitter.com/catloz79" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar eliecer"></div>
          <p>Eliecer Padilla<small>Content Manager</small><small><a href="http://twitter.com/drpadillach" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
        <!--
        <div class="member grid-3 grid-mobile-12 ">
          <div class="avatar andres"></div>
          <p>Andrés Gomez<small>Director Creativo</small><small><a href="http://twitter.com/Kmpoelias" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>-->

        <div class="member grid-3 grid-mobile-12 ">
          <div class="avatar mariamely"></div>
          <p>Mariamely Leoni<small>Influencer Advisor USA</small><small><a href="http://twitter.com/mariamelyleoni" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
        

        
        <div class="member grid-3 grid-mobile-12">
          <div class="avatar camilor"></div>
          <p>Camilo Rojas<small>Administrador y Finanzas</small><small><a href="http://twitter.com/camylorojas" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar linam"></div>
          <p>Lina Gomez<small>Influencer Advisor Colombia</small><small><a href="http://twitter.com/linagogo2" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>

        <div class="member grid-3 grid-mobile-12">
          <div class="avatar pedro"></div>
          <p>Pedro Inchauspe<small>Advisor</small><small><a href="http://twitter.com/FLUVIPGlobal" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
        
        <div class="member grid-3 grid-mobile-12">
          <div class="avatar camilo"></div>
          <p>Camilo E. Rojas<small>Advisor</small><small><a href="http://twitter.com/camilo_rojas" target="_blank"><i class="fa fa-twitter"></i></a></small></p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="aboutus-partners" class="light">
  <div class="border-rlight">
    <div class="container" align="center">
      <div class="grid-2"></div>
      <div class="grid-8 grid-mobile-12 content-data">
        <h1><%= i18 "pages.aboutus.aboutus-partners.title" %></h1>

        <h4 class="text-muted"><%= i18 "pages.aboutus.aboutus-partners.content" %></h4>
      </div>
      <div class="grid-2"></div>
      
      <div class="grid partners-list">

        <div class="grid-4 grid-mobile-12 partner">
          <img src="/assets/amazon.png" alt=""/>
        </div>

        <div class="grid-4 grid-mobile-12 partner">
          <img src="/assets/logo_telefonica.png" alt=""/>
        </div>

        <div class="grid-4 grid-mobile-12 partner">
          <img src="/assets/velum.png" alt=""/>
        </div>
      </div>
      <div class="space-hero"></div>
    </div>
  </div>
</section>