<section id="advertirser-container" class="principal-container">
  <div class="landing">
    <div class="container">
      <div class="wrapper"> 
        <div class="grid-6 grid-mobile-12 message">

          <p class="descrip">
            <%= i18 "pages.advertiser.advertiser_container.quote.text" %> <br/>
            <span><%= i18 "pages.advertiser.advertiser_container.quote.person" %> - <%= i18 "pages.advertiser.advertiser_container.quote.rank" %></span>
          </p>

          <a href="http://fluvip.com/users/sign_up_redesign" target="_top" class="btn">
            <%= i18 "pages.advertiser.advertiser_container.signup" %>
          </a>
          <a href="#" class="izqsep btn fancybox"><i class="fa fa-play"></i> <%= i18 "pages.seevideo" %></a>
        </div>
        <div class="grid-6 grid-mobile-12 image">

        </div>
      </div>
      </div>
  </div>
</section>

<section id="validate" class="white validate-advertiser">
  <div class="border-rlight">
    <div class="container" align="center">
      <div class="grid-2 hide-mobile"></div>
      <div class="grid-8 grid-mobile-12 content-data">
        <h1><%= i18 "pages.advertiser.validate.title" %></h1>
        <h4><%= i18 "pages.advertiser.validate.content" %></h4>

        <div class="social-brands-icons">
          <i class="fa fa-instagram"></i>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-youtube"></i>
          <i class="fa fa-facebook-square"></i>
          <i class="fa fa-foursquare"></i>
          <i class="fa fa-google-plus"></i>
          <br/>
          <i class="fa fa-linkedin"></i>
          <i class="fa fa-pinterest"></i>
          <i class="fa fa-tumblr-square"></i>
          <i class="fa fa-vine"></i>
          <i class="fa fa-wordpress"></i>
          <i class="fa fa-twitch"></i>
        </div>
      </div>
      <div class="grid-2 hide-mobile"></div>
    </div>
  </div>
</section>


<section id="call" class="light">
    <div class="border-rlight">
    <div class="container">
      <div class="grid">
        <div class="grid-1 hide-mobile"></div>
        <div class="grid-5 grid-mobile-12">
          <h4 class="increased-height text-muted"><%= i18 "pages.advertiser.call.content" %></h4>
        </div>
        <div class="grid-5  grid-mobile-12">
          <p class="phone text-muted">
            <i class="fa fa-phone"></i>
            <%= i18 "pages.advertiser.call.phone" %>
          </p>
        </div>
        <div class="grid-1 hide-mobile"></div>
      </div>
    </div>
  </div>
</section>


<div id="clients-advertiser">
  <div class="container" aligh="center">
    <div class="gid">
      <div class="grid-12">
        <h4><%= i18 "pages.advertiser.clients-advertiser.title" %></h4>
        <p><%= i18 "pages.advertiser.clients-advertiser.content" %></p>


        <div class="clients-list">
          <div class="grid">
            <div class="grid-3 grid-mobile-12"><img src="/assets/adidas_logo.jpg" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/general.jpg" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/line.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Volkswagen_5.jpg" alt=""></div>
          </div>
          <div class="grid">
            <div class="grid-3 grid-mobile-12"><img src="/assets/Visa_Logo.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Eliecer_remuneracion_jun_2014.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Fox_Broadcasting_Company_(Logo).png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Logo-BBVA-Brands-Logo.png" alt=""></div>
          </div>
          <div class="grid">
            <div class="grid-3 grid-mobile-12"><img src="/assets/Logo_Jeep.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/logotipo_lg.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Movistar_2010.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Nestle-logo-300.png" alt=""></div>
          </div>
          <div class="grid">
            <div class="grid-3 grid-mobile-12"><img src="/assets/samsung.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Sony_logo.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/avianca.png" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Falabella.png" alt=""></div>
          </div>
          <div class="grid">
            <div class="grid-3 grid-mobile-12"><img src="/assets/logocencosud.jpg" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/logodirectv.jpg" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/logont.jpg" alt=""></div>
            <div class="grid-3 grid-mobile-12"><img src="/assets/Unilever_logo_2004.png" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="fancybox">
  <a href="#" class="close">X</a>
  <iframe src="//player.vimeo.com/video/73334736?title=0&amp;byline=0&amp;portrait=0" width="500" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>