<section id="principal-home">
  <div class="video-content hide-mobile">
    <video src="/assets/video/home.mp4" autoplay preload="auto" loop></video>
  </div>
  <div class="landing">
    <div class="container">
      <div class="wrapper">
        <div class="grid"></div>

        <div class="grid">
          <div class="grid-12" align="center">
            <div class="spacer-hero"></div>
            <div class="grid-1"></div>
            <h1 class="grid-10 grid-mobile-12"><%= i18("pages.home.principal-home.title") %></h1>
            <div class="grid-1"></div>
            <a href="#" class="btn btn-play">▶</a>
          </div>
        </div>

        <div class="grid">
          <div class="grid-12 ingressButtons" align="center">
            <a href="http://fluvip.com/users/sign_up_redesign?locale=<%= session[:locale] || I18n.default_locale %>" target="_top" class="btn btn-lg influenciator">
              <%= i18("pages.home.principal-home.buttons.influenciator.title") %>
              <span class="mini"><%= i18("pages.home.principal-home.buttons.influenciator.call") %></span>
            </a><em>0</em><a href="http://fluvip.com/users/sign_up_redesign?locale=<%= session[:locale] || I18n.default_locale %>" target="_top" class="btn btn-lg anunciante">
            <%= i18("pages.home.principal-home.buttons.advertiser.title") %>
            <span class="mini"><%= i18("pages.home.principal-home.buttons.advertiser.call") %></span>
            </a>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</section>

<section id="clients" class="light">
  <div class="border-rlight">
    <div class="container">
      <div class="grid">
        <div class="grid-12" align="center">
          <h1><%= i18("pages.home.principal-home.title_clients") %></h1>
          <ul class="clients-list">

            <li><a href="#"><img src="/assets/Visa_Logo.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/Sony_logo.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/Eliecer_remuneracion_jun_2014.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/samsung.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/Logo-BBVA-Brands-Logo.png" alt=""></a></li>
            <li><a href="#"><img src="/assets/logotipo_lg.png" alt=""></a></li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="about" class="section white">
  <div class="container">
    <div class="grid-6 grid-mobile-12 content-text left">
      <h1><%= i18("pages.home.about.title") %></h1>

      <p><%= i18("pages.home.about.content") %></p>

      <div class="divider-lg"></div>

      <p><%= i18("pages.home.about.footer") %></p>
    </div>

    <div class="grid-6 hide-mobile image-top right">
      <img src="/assets/page-product-what-1.png" alt="">
    </div>
  </div>
</section>

<section id="clients-about" class="section light" align="center">
  <div class="container">
    <h1><%= i18 "pages.home.clients_about.title" %></h1>
    <div class="row">
      <div class="grid-4 grid-mobile-12 client-testimonial animated">
        <div class="row">
          <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/soffes/128.jpg');"></div>

          <div class="quote">

            <p class="text-testimonial"><%= i18 "pages.home.clients_about.testimonials.testimonio_1.content" %>
              <img src="/assets/avianca-small.png" alt=""/>
            </p>


          </div>
        </div>
      </div>
      <div class="grid-4 grid-mobile-12 client-testimonial animated">
        <div class="row">

          <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/kurafire/128.jpg');"></div>

          <div class="quote">

            <p class="text-testimonial"><%= i18 "pages.home.clients_about.testimonials.testimonio_2.content" %>
              <img src="/assets/sony_logo_small.png" alt=""/>
            </p>


          </div>
        </div>
      </div>
      <div class="grid-4 grid-mobile-12 client-testimonial animated">
        <div class="row">

          <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg');"></div>
          <div class="quote">
            <p class="text-testimonial">
              <%= i18 "pages.home.clients_about.testimonials.testimonio_3.content" %>
              <img src="/assets/MIndshare.png" alt=""/>
            </p>


          </div>
        </div>
      </div>
    </div>
    <div class="space-hero"></div>

  </div>
</section>


<section id="how" class="section white">
  <div class="container">
    
    <div class="grid-6 hide-mobile image-top right">
      <div class="tabs images">
        <div class="tab identify">
          <img src="/assets/tabs/identify.png" style="width:80%;">
        </div>
        <div class="tab publish hide">
          <img src="/assets/tabs/publish.png" style="width:80%;">
        </div>
        <div class="tab monitoring hide">
          <img src="/assets/tabs/monitoring.png" style="width:80%;">
        </div>
      </div>

    </div>

    <div class="grid-6 grid-mobile-12 content-text left">
      <h1><%= i18("pages.home.how.title") %></h1>

      <div class="tabs">
        <div class="tab identify">
          <%= i18 "pages.home.how.tabs.tabs-content.identify" %>
        </div>
        <div class="tab publish hide">
          <%= i18 "pages.home.how.tabs.tabs-content.publish" %>
        </div>
        <div class="tab monitoring hide">
          <%= i18 "pages.home.how.tabs.tabs-content.monitoring" %>
        </div>
      </div>
      <ul class="tabs-buttons">
        <li><a id="identify" class="radius-left active-tab-button" href="#"><i class="fa fa-users"></i> <%= i18 "pages.home.how.tabs.tabs-buttons.identify" %></a></li><li><a id="publish" href="#"><i class="fa fa-share-alt"></i> <%= i18 "pages.home.how.tabs.tabs-buttons.publish" %></a></li><li><a id="monitoring" href="#"  class="radius-right"><i class="fa fa-area-chart"></i> <%= i18 "pages.home.how.tabs.tabs-buttons.monitoring" %></a></li>
      </ul>

      <div class="divider-lg"></div>

      <p><%= i18("pages.home.how.footer") %></p>
    </div>
    
  </div>
</section>


