<section id="influenciator-container" class="principal-container">
  <div class="landing">
    <div class="container">
      <div class="wrapper"> 
        <div class="grid-6 message">
          <p class="descrip"><%= i18 "pages.influenciator.influenciator-container.descrip" %></p>
  

          <a href="http://fluvip.com/users/sign_up_redesign" target="_top" class="btn">
            <%= i18 "pages.influenciator.influenciator-container.button.text" %>
          </a>
        </div>
        <div class="grid-6 image">

        </div>
      </div>
      </div>
  </div>
</section>


<section id="validate" class="white">
  <div class="border-rlight">
    <div class="container">
      <div class="grid-5 imagen-top-fancybox">
        <a href="#" class="fancybox"><img src="/assets/video-influenciator.png" alt=""/></a>
      </div>
      <div class="grid-1"></div>
      <div class="grid-6 content-text" style="padding-top:190px;">
        <h1><%= i18 "pages.influenciator.validate.title" %></h1>
        <p><%= i18 "pages.influenciator.validate.list" %></p>
      </div>


    </div>
  </div>
</section>


<section id="map" class="light">
  <div class="border-rlight">
    <div class="container">
      <div class="grid">
        <div class="grid-12">
          <h4 class="increased-height text-muted"><%= i18 "pages.influenciator.map.title" %></h4>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="validate-influenciator" class="white">
  <div class="border-rlight">
    <div class="container">
      <div class="grid-6 content-text">
        <h1><%= i18 "pages.influenciator.how.title" %></h1>
        <p><%= i18 "pages.influenciator.how.content" %></p>
      </div>
      <div class="grid-6 image-top right">
        <img src="/assets/page-product-what-3.png" style="width:80%;">
      </div>

    </div>
  </div>
</section>

<div id="fancybox">
  <a href="#" class="close">X</a>
  <iframe src="//player.vimeo.com/video/82096107?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>