<section id="influenciator-container" class="principal-container">
  <div class="landing">
    <div class="container">
      <div class="wrapper"> 
        <div class="grid-6 grid-mobile-12 message">
          <p class="descrip"><%= i18 "pages.influenciator.influenciator-container.descrip" %></p>
  

          <a href="http://fluvip.com/users/sign_up_redesign" target="_top" class="btn">
            <%= i18 "pages.influenciator.influenciator-container.button.text" %>
          </a>
        </div>
        <div class="grid-6 image">

        </div>
      </div>
      </div>
  </div>
</section>


<section id="validate" class="white validate-influenciator">
  <div class="border-rlight">
    <div class="container">
      <div class="grid-5 grid-mobile-12 imagen-top-fancybox">
        <a href="#" class="fancybox"><img src="/assets/video-influenciator.png" alt=""/></a>
      </div>
      <div class="grid-1 hide-mobile"></div>
      <div class="grid-6 grid-mobile-12 content-text" style="padding-top:150px;">
        <h1><%= i18 "pages.influenciator.validate.title" %></h1>
        <p><%= i18 "pages.influenciator.validate.list" %></p>
      </div>


    </div>
  </div>
</section>


<section id="map" class="light">
  <div class="border-rlight">
    <div class="container">
      <div class="grid">
        <div class="grid-12">
          <h4 class="increased-height text-muted"><%= i18 "pages.influenciator.map.title" %></h4>
        </div>

      </div>
    </div>
  </div>
</section>

<section id="validate-influenciator" class="white">
  <div class="border-rlight">
    <div class="container">
      <div class="grid-6 grid-mobile-12 content-text">
        <h1><%= i18 "pages.influenciator.how.title" %></h1>
        <div class="tabs">
          <div class="tab signup">
            <%= i18 "pages.influenciator.how.tabs.tabs-content.signup" %>
          </div>
          <div class="tab expects hide">
            <%= i18 "pages.influenciator.how.tabs.tabs-content.expects" %>
          </div>
          <div class="tab publishes hide">
            <%= i18 "pages.influenciator.how.tabs.tabs-content.publishes" %>
          </div>
        </div>
        <ul class="tabs-buttons">
          <li><a id="signup" class="radius-left active-tab-button" href="#"><i class="fa fa-user"></i> <%= i18 "pages.influenciator.how.tabs.tabs-buttons.signup" %></a></li><li><a id="expects" href="#"><i class="fa fa-clock-o"></i> <%= i18 "pages.influenciator.how.tabs.tabs-buttons.expects" %></a></li><li><a id="publishes" href="#"  class="radius-right"><i class="fa fa-share-alt"></i> <%= i18 "pages.influenciator.how.tabs.tabs-buttons.publishes" %></a></li>
        </ul>
      </div>
      <div class="grid-6 hide-mobile image-top right">
        <div class="tabs images">
          <div class="tab signup">
            <img src="/assets/tabs/identify.png" style="width:80%;">
          </div>
          <div class="tab expects hide">
            <img src="/assets/tabs/publish.png" style="width:80%;">
          </div>
          <div class="tab publishes hide">
            <img src="/assets/tabs/monitoring.png" style="width:80%;">
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div id="fancybox">
  <a href="#" class="close">X</a>
  <iframe src="//player.vimeo.com/video/82096107?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>